fieldset{
    background-color: lightblue;
}
legend{
    padding: 5px;
    background-color: lightcoral;
}
label{
    font-weight: bold;
}
.error{
    color: red;
    background-color: lightsalmon;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}