table, td, th{
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
th{
    background-color: greenyellow;
}
td{
    background-color: #C64545;
}
td:hover{
    background-color: blue;

}
tr:hover{
    background-color: blueviolet;
    font-size: 100px;
}
